.vscode/settings.json
__pycache__/Word_extract.cpython-312.pyc
dictionaries/kaikki.org-dictionary-Esperanto-words.jsonl
Esborrany/card_words.txt
Esborrany/Die_Verwandlung_.pdf
Esborrany/esperanto.csv
Esborrany/kaikki.org-dictionary-Catalan.jsonl
Esborrany/kaikki.org-dictionary-Esperanto-by-pos-interfix.jsonl
Esborrany/kaikki.org-dictionary-Esperanto-by-pos-prefix.jsonl
Esborrany/kaikki.org-dictionary-Esperanto-by-pos-suffix.jsonl
Esborrany/la_hobito.csv
Esborrany/main.py
Esborrany/read_cardwords.py
Esborrany/README.txt
Esborrany/test
Esborrany/test.py
Esborrany/tolkien_j._r._r._-_la_hobito.pdf
Esborrany/Word_extract.py
input/la_hobito.pdf
output/la_hobito.csv
